.header {
  width: 1300px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header_logo {
  padding-right: 50px;
}

.nav_wrapper {
  display: flex;
  justify-content: space-around;
}

.nav_list {
  margin: 0;
  padding-left: 50px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.nav_sidebuttons {
  display: flex;
  flex-wrap: wrap;
}
