.icon {
  display: inline-block;

  width: var(--size);
  height: var(--size);

  vertical-align: top;
}

.sizeAuto {
  width: 1.2em;
  height: 1.2em;
}

.sizeS {
  --size: 20px;
}

.sizeM {
  --size: 40px;
}

.sizeL {
  --size: 60px;
}
